<form action="/api/files/upload" method="post" enctype="multipart/form-data">
    <input name="large-file" type="file" />
    <input name="large" type="text" />
    <input name="large-file" type="file" />
    <button type="submit">Upload</button>
</form>